:root{
    --text-big: 32px;
    --text-medium: 29px;
    --text-small: 26px;
    --font-heading:"Acme", sans-serif;
    --hover-colour:#fbd373;
    --bg-colour:whitesmoke;
}

h1,h2{
    font-family: var(--font-heading);
    font-size: var(--text-big);
}
h3,h4{
    font-family: var(--font-heading);
    font-size: var(--text-medium);
}
p{
    font-family: var(--font-heading);
    font-size: var(--text-small);
}
h1{
    text-align: center;
}
body {
    height: 100%;
    background-color: #e2f2d5;
}
.responsive-div{
    width: 800px;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 1920px) {
    .topnav{
        background-color: #c2d98b;
        overflow: hidden;
        font-family: var(--font-heading);
        top:0;
        z-index: 99999;
        position: sticky;
    }
    .topnav a {
        float: left;
        color:var(--bg-colour);
        text-align: center;
        text-decoration: none;
        padding: 16px 16px;
        font-size: 25px;
    }
    .topnav a:hover {
        background-color: var(--hover-colour);
        color:black;
    }
}
@media screen and (max-width: 500px) {
    .topnav a {
        font-size: 0;
        padding: 10px;
    }
    .topnav i{
        font-size: 30px;
    }
    .responsive-div{
        width: 90%;
    }
    .myTable table{
        width: 340px;
    }
}
.return-btn a{
    padding: 16px;
    color: #669966;
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: 20px;
}
.return-btn a:hover{
    padding: 16px;
    color: var(--hover-colour);
}

/* Order List*/
.pagelink a{
    text-decoration: none;
}
.pagelink a:hover{
    background-color: var(--hover-colour);
    color: var(--bg-colour);
}


/* Menu */
.menulist{
    text-align: center;
    padding:0.01em 16px;
    width: 300px;
    height: 400px;
    background-color: var(--bg-colour);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menulist:hover{
    background-color:var(--hover-colour);
}
/* index(home page) */
.vandiv:hover{
    background-color: var(--hover-colour);
}

.vandiv {
    background-color: var(--bg-colour);
    width: 95%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* cart and order */
.totalprice{
    text-align: right;
}
.myTable{
    border:0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.logout-button input {
    width: 150px;
    height: 50px;
    background-color: red;
    color: var(--bg-colour);
}

.update-button input {
    width: 150px;
    height: 50px;
    background-color: #3268ca;
    color: var(--bg-colour);
}


.info-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 32px;
    padding: 20px 60px 20px 40px;
}
.info-form h2 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 60px 20px 40px;
    border: 1px solid black;
    background-color: var(--bg-colour);
    width: 60%;
}
.info-form p {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 60px 20px 40px;
}
.info-form a{
    padding: 16px;
    background-color: var(--bg-colour);
    text-decoration: none;
}
.info-form a:hover{
    padding: 16px;
    background-color: var(--hover-colour);
}
.loginmessage{
    font-family: var(--font-heading);
    font-size: var(--text-big);
    margin-right: 10px;
    right:0;
    position: absolute;
}
.login-button a{
    background-color: transparent;
    font-family: var(--font-heading);
    font-size: var(--text-big);
    color: var(--bg-colour);
    text-decoration: none;
    text-shadow: 0 0 3px #000000;

}
.login-button a:hover{
    color: var(--hover-colour);
}

/* customer order feedback */
.txt-center {
    text-align: center;
}
.hide {
    display: none;
}
.clear {
    float: none;
    clear: both;
}



/* map */
#mapid { height: 350px; width: 90%; }

/* button format */
.button_form{font-weight: bold; font-size:15px}

/* Popup window */
.myTable {
    border: 1px solid black;
    width: 90%;
}

.orderInfo {
    position:relative; 
    left: 15px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#home {
border-radius: 25px;
background: #ececec;
padding: 20px; 
width: 80%;
height: 60%;  
}