<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div>
    <div>
        <center>
        <h1>
            Members
        </h1>
        
        <table style="width: 300px">
            <tr style="text-align: center">
                <td><p>Name</p></td>
                <td><p>Student ID</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Cenxi Si</p></td>
                <td><p>xxxxxxx</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Chengyan Dai</p></td>
                <td><p>xxxxxxx</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Jingdan ZHANG</p></td>
                <td><p>xxxxxxx</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Ruimin SUN</p></td>
                <td><p>xxxxxxx</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Yipei Liu</p></td>
                <td><p>xxxxxxx</p></td>
            </tr>
        </table>
        </center>
    </div>
</div>