<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div class="home">
    <div class="animate-fadein title">
        <center>
        <h1>
            All Charts
        </h1>
        <h2>
            Swipe down to find out more
        </h2>
    
        <img src="/images/tweets_sentiment_piechart.png" alt="piechart" width="642" height="442">
        <img src="/images/10suburb_mel.png" alt="piechart" width="742" height="442">
        <img src="/images/10suburb_syd.png" alt="piechart" width="742" height="442">

        </center>
    </div>
</div>





