{{!-- Part of COMP90024 Cluster and Cloud Computing from The University of Melbourne --}}
{{!-- Assignment 2 - Team 20 --}}
{{!-- Collective Team Details (Member's Name/Student ID/Location): --}}
{{!-- Cenxi Si 1052447 China --}}
{{!-- Yipei Liu 1067990 China --}}
{{!-- Jingdan Zhang 1054101 China --}}
{{!-- Chengyan Dai 1054219 Melbourne --}}
{{!-- Ruimin Sun 1052182 China --}}

<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div>
    <div>
        <center>
        <h1>
            Members
        </h1>
        
        <table border="1" style="width: 900px">
            <tr style="text-align: center">
                <td><h4>Name</h4></td>
                <td><h4>Student ID</h4></td>
                <td><h4>Email</h4></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Cenxi Si</p></td>
                <td><p>1052447</p></td>
                <td><p>cenxi@student.unimelb.edu.au</p></td>

            </tr>
            <tr style="text-align: center">
                <td><p>Chengyan Dai</p></td>
                <td><p>1054219</p></td>
                <td><p>chengyand@student.unimelb.edu.au</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Jingdan ZHANG</p></td>
                <td><p>1054101</p></td>
                <td><p>jingdan@student.unimelb.edu.au</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Ruimin SUN</p></td>
                <td><p>1052182</p></td>
                <td><p>ruimins@student.unimelb.edu.au</p></td>
            </tr>
            <tr style="text-align: center">
                <td><p>Yipei Liu</p></td>
                <td><p>1067990</p></td>
                <td><p>yipeil@student.unimelb.edu.au</p></td>
            </tr>
        </table>
        </center>
    </div>
</div>
