{{!-- Part of COMP90024 Cluster and Cloud Computing from The University of Melbourne --}}
{{!-- Assignment 2 - Team 20 --}}
{{!-- Collective Team Details (Member's Name/Student ID/Location): --}}
{{!-- Cenxi Si 1052447 China --}}
{{!-- Yipei Liu 1067990 China --}}
{{!-- Jingdan Zhang 1054101 China --}}
{{!-- Chengyan Dai 1054219 Melbourne --}}
{{!-- Ruimin Sun 1052182 China --}}

<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div>
    <div>
        <center>
        <h1>
            All Charts in Tweets
        </h1>
        
        <table style="width: 300px">
            <tr style="text-align: center">
                <td><h4>Melbourne</h4></td>
                <td></td>
                <td><h4>Sydney</h4></td>
            </tr>
            <tr>
                <td><img src="/images/mel_wordcloud.png" width="442" height="442"></td>
                <td></td>
                <td><img src="/images/syd_wordcloud.png" width="442" height="442"></td>
            </tr>
        </table>

        <h4>Comparison between Melbourne and Sydney</h4>
        <img src="/images/tweets_sentiment_piechart.png" width="742" height="402">

        </center>
    </div>
</div>
