<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div class="home">
    <div class="animate-fadein title">
        <center>
        <h1>
            Word Cloud
        </h1>
        
        <table style="width: 300px">
            <tr style="text-align: center">
                <td><p>Melbourne</p></td>
                <td></td>
                <td><p>Sydney</p></td>
            </tr>
            <tr>
                <td><img src="/images/mel_wordcloud.png" alt="mel_wordcloud" width="742" height="542"></td>
                <td></td>
                <td><img src="/images/syd_wordcloud.png" alt="syd_wordcloud" width="742" height="542"></td>
            </tr>
        </table>
        </center>
    </div>
</div>