<br>
<div class="return-btn">
    <a class='active', href='/'><i class='fa fa-fw fa-chevron-left'></i>Return</a>
</div>
<div class="home">
    <div class="animate-fadein title">
        <center>
        <h1>
            Word Cloud
        </h1>
        <h2>
            Swipe down to find out more
        </h2>
        <p>Melbourne</p>
        <img src="/images/mel_wordcloud.png" alt="mel_wordcloud" width="742" height="542">
        <p>Sydney</p>
        <img src="/images/syd_wordcloud.png" alt="syd_wordcloud" width="742" height="542">

        </center>
    </div>
</div>